[2019-08-15 08:38] Dimibe opened #1 "Add a sort option."
## Is:
Currently the passed elements need to be sorted in order to assure that the grouping works as expected.

## Should:
The list should be sorted before displaying. Make the sorting configurable through a parameter for performance reason. E.g. if the elements are provided by a query ordering the query result should be preferred.

* Name of the option should be `sort`.
* The option should be opt

[2019-08-15 18:51] #1 closed

[2019-08-15 18:54] Dimibe opened #2 "Sticky Headers"
Provide an option for sticky group separators.

[2019-12-18 02:58] komputerboy opened #4 "List of Model?"
Hi,

I want to ask, how to grouping list data if my list is a model, like this:

[code]

thanks

[2019-12-18 03:21] komputerboy commented on #4
sorry, i have found it

thank you

[2019-12-18 03:21] #4 closed

[2019-12-18 03:26] komputerboy opened #5 "How to change sort to Ascending or Descending?"
Hi, i want to sort by date Descending.

My code is like this:
[code]

and i got the output is:
[code]
and how to reverse it, so the data will be like this:
[code]
thank you

[2019-12-18 10:45] Dimibe commented on #5
Currently there is no option to reverse the sorting. I'll put this on my todo list.
For the moment you could  set `sort` to `false` and sort your  `_motionList` before passing it to the GroupedListView Widget.

[2020-01-02 11:49] bhenav commented on #2
Hello @Dimibe ,

when do you intend to do that?

[2020-01-13 13:14] chriswiesner opened #6 "How to sort items within groups?"
It would be good to use the compareTo function of the items to sort them. This way we could also sort items within groups.
Currently it seems only the compareTo of the groupBy is used.

[2020-01-19 11:15] ramisaeed opened #7 "How connect this group list to webapi? i tried but not working???"
How connect this group list to webapi?
i tried but not working???

[2020-01-31 11:45] kwent opened #8 "Reverse version"
Here is the reverse version. Could probably merge both in one widget.

[code]

Regards

[2020-03-10 13:15] sameterap commented on #2
Hi @Dimibe ,

I guess this sticky headers are really needed in this plugin. We are waiting for that. Thanks

[2020-03-10 17:20] Dimibe commented on #7
Hello @ramisaeed. Can you provide me more detailed information or are concrete example in what you've tried. Otherwise I can't help you.

[2020-03-10 17:52] Dimibe commented on #5
Resolved and released in version 1.3.0. Have a look at the docs for more more detailed information about the usage.

[2020-03-10 17:52] #5 closed

[2020-03-10 17:53] Dimibe commented on #8
Done! See #5 or the docs for more detailed information.

[2020-03-10 17:53] #8 closed

[2020-03-12 23:04] Dimibe commented on #2
@sameterap @bhenav when all goes as planned the feature will be available within the next week.

[2020-03-13 06:53] sameterap commented on #2
Thank you. It's appreciated.

[2020-03-13 12:32] wisecoders opened #10 "Scrollable positioned list"
hey,

Thanks for the amazing plugin. Could you please check and see if you can include Scorllable positioned list

https://github.com/google/flutter.widgets/tree/master/example/scrollable_positioned_list

[2020-03-18 23:01] Dimibe commented on #2
@sameterap Feature available in release 2.0.0.
Due to some major refactorings a new major version was released.
For usage just set the new property `useStickyGroupSeparators` to `true`.

[2020-03-18 23:01] #2 closed

[2020-03-22 17:04] icnahom opened #12 "Scrollbar indicator not reaching the end of a list."
Hello Dimibe,

This is a great package!

One Issue I have found when setting `useStickyGroupSeparators` to `true` is that the scrollbar indicator does not reach to the end of the list.

[2020-03-22 18:04] icnahom opened #13 "White background on sticky header."
This fix is crucial for the use of sticky date headers which is used vastly by different applications.

Here's what's happening.
![iPhone X-XS-11 Pro – 1@2x](https://user-images.githubusercontent.com/60504285/77256529-009b1a80-6c80-11ea-8eb1-9ba5b8bf1bba.jpg)

[2020-03-24 16:13] CripyIce opened #14 "Sticky group separator shows wrong values"
I have an issue when displaying a list with contacts names in Hebrew, the value inside the sticky group separator gets kind of stuck and not displaying the correct value.

Example:
![demo-gif](https://user-images.githubusercontent.com/26387823/77449946-49c3a980-6dfb-11ea-9464-b7c0a8426dcc.gif)

* The first letter of the names in the list is in the right.

[2020-03-25 09:08] Dimibe commented on #14
I'll have a look into it and fix it as soon as possible.

[2020-03-25 09:12] Dimibe commented on #13
I will think about it how to change this. Thanks for the detailed visulization.

[2020-03-25 09:13] Dimibe commented on #12
I'll look into it

[2020-03-25 09:28] Dimibe commented on #10
I'll have a look into it but I don't think I will add this in the near future.

[2020-03-25 10:15] CripyIce commented on #14
@Dimibe Thanks! It would be great!
Let me know if you need anything else from me.

[2020-03-26 11:07] andzejsw opened #15 "Disable divider between list items"
I have divider line between my list items, which one i want to disable. How can i do that!?

[2020-03-27 22:00] bruoff opened #16 "grouping by date string seems not to work"
Hi Dimibe,

thank for your work on this great package!

I'm trying to group my listitems by a String which contains a date "2020-03-28". Seems that it's not grouping correctly. When I add an item with the String "2020-03-29" and then again a item with "2020-03-28" I get 3 different groups but as far as I understand there should be only 2.

[2020-03-28 16:52] Dimibe commented on #16
@bruoff Thanks for letting me know. A new version with this bug fixed will be available later today.

[2020-03-28 16:58] Dimibe commented on #15
@andzejsw Thanks. Will be fixed in the next bugfix release today.

[2020-03-28 17:00] #15 closed

[2020-03-28 17:01] #16 closed

[2020-03-28 17:26] Dimibe commented on #16
Version 2.0.1 should be available soon. Let me know if everything works fine know.

[2020-03-28 17:27] Dimibe commented on #15
Version 2.0.1 should be available in a few minutes. Let me know if everything works fine now.

[2020-03-28 18:05] Dimibe commented on #14
@CripyIce I can't reproduces the bug. Can you provide me more information?
* What is the parent widget of the GroupedListView?
* What language is used in your example?

Thanks.

[2020-03-28 19:40] Dimibe commented on #12
@icnahom Could you please provide an example which shows the problem?

[2020-03-28 20:07] bruoff commented on #16
Hi Dimibe,

thanks for the ultra fast response! Everything works now.

Regards
Ben

[2020-03-29 05:19] icnahom commented on #12
It's easy to reproduce the bug. Here's what you do: Wrap the GroupedListView widget with a Scrollbar widget. Now scroll and see the scroll bar while scrolling to the end of the list.
I hope you will catch the problem.

[2020-03-29 08:04] CripyIce commented on #14
@Dimibe here is a full example for testing:
[code]

flutter doctor:
[code]

[2020-03-29 17:22] beatrizsampaiob commented on #4
sorry, I have the same doubt. can you tell me how to solve it?

[2020-03-30 06:07] andzejsw commented on #15
Everything is fine. Big tnx!

[2020-03-30 10:11] CripyIce commented on #14
@Dimibe just updated to 2.0.2 and the issue still appears but now differently.
I will explain:
1. scroll al the way down to `שיראל` - group is correct.
2. scroll up until you see `איתן` - group is not correct - still showing the letter `ש`.
3. scroll up again until almost at the top - group changed and now is correct.

[2020-03-30 10:15] CripyIce opened #20 "RefreshIndicator implementation"
I've implemented `GroupedListView` inside a `RefreshIndicator` and it seems to work only when list is long enough and scrollable.
For example, when the list contains only one value `RefreshIndicator` cannot be performed.
Any ideas?

[2020-03-30 11:04] Dimibe commented on #14
@CripyIce The bug wasn't fixedl in the Releases 2.0.1 and 2.0.2.
As you can see the pull request is still open. I need to do some testing.
I will release a new version in the next few days.

[2020-03-31 06:47] zgramming opened #21 "How To Get Index of GroupedListView?"
Thank's for making this great package. I have question how to get index of this GroupedListView ? It's Possible ?

 I check inside **itemBuilder** not have **index** property , and i check too inside your file not see **index** property

### Your File
[code]

What i expected is , i want display number order in this List. How can i achieved this ?

<img src="https://user-images.githubusercontent.co

[2020-04-01 18:16] talamaska commented on #14
I too can confirm that the sticky header is showing wrong value occasionally.

[2020-04-02 10:11] #14 closed

[2020-04-02 10:16] Dimibe commented on #14
@CripyIce @talamaska The Issue is fixed in version 2.1.0 which should now be available.

[2020-04-02 10:35] CripyIce opened #23 "Wrong list items when scrolling"
After upgrading to version `2.1.0`, list items are changing constantly when scrolling and showing wrong values.

Example:
![ezgif com-video-to-gif (1)](https://user-images.githubusercontent.com/26387823/78239717-bd924000-74e6-11ea-8e07-0bde89412d73.gif)

[2020-04-02 10:36] CripyIce commented on #14
@Dimibe thanks for the fix!
But, please see my new issue after upgrading to latest version - #23.

[2020-04-02 10:51] Dimibe commented on #23
@CripyIce Can you provide an example of your code. I've testet it with your example from the last issue.
This works perfectly fine for me.

[2020-04-02 11:43] Dimibe commented on #20
if you set `physics: const AlwaysScrollableScrollPhysics()` on the `GroupedListView` it should work.

[2020-04-02 11:43] #20 closed

[2020-04-02 11:45] Dimibe commented on #21
Currently it's not possible to get the index information. Maybe I will add an option in a later release.

[2020-04-02 11:46] #7 closed

[2020-04-02 12:07] CripyIce commented on #23
@Dimibe here is an example:
[code]

[2020-04-04 21:31] Dimibe commented on #23
Fixed in version 2.2.0

[2020-04-04 21:31] #23 closed

[2020-04-04 21:31] Dimibe commented on #6
Items are now sorted according their comparable function within groups

[2020-04-04 21:31] #6 closed

[2020-04-06 16:36] Dimibe opened #24 "Indexed item builder"

[2020-04-06 16:46] #24 closed

[2020-04-06 16:47] Dimibe commented on #21
Implemented within #24. Will be available in the release 2.3.0. Have a look into the readme for usage.

[2020-04-06 16:47] #21 closed

[2020-04-06 22:29] Nyan274 opened #26 "useStickyGroupSeparators=true cause lag in long list"
Thanks for awesome library.
What i have noticed is with lots of items. 500+, the list will lag after scrolling to 400+.

[2020-04-07 02:38] leonardo2204 opened #27 "Exception when used inside SliverChildListDelegate"
Hello, thanks for the lib!

I'm having issues using `GroupedListView` inside a SliverChildListDelegate.
Before, I was using ListView.separated and it was working properly.

Some snippets to help:

**BEFORE: (working)**
[code]

AFTER (not working):
[code]
The parent component (which contains the ListView):

[code]

The exception I'm facing is the following:

[code]

For what it is worth, the code i

[2020-04-07 03:24] leonardo2204 commented on #27
I was able to reproduce the issue here.
Removing the Expanded root widget from the library and adding shrinkWrap to true solved it!
The question is, does it make sense to have the Expanded widget here? I mean, shouldn`t it be a final user implementation choice to avoid this kind of conflict?

Thanks again!

[2020-04-07 13:52] leonardo2204 opened #28 "Add footer"
Hello! Quick question, do you have any plans of adding a footer on the list?
I think it should be simple to implement yet pretty useful. If you agree I can open a PR.

Thanks!

[2020-04-12 18:43] CripyIce commented on #23
Hi @Dimibe , sorry for the late response I think I've figured it out in a way.
When using `GroupedListView<String, String>` everything works great, but when using `GroupedListView<MyContact, String>` with a custom class the error appears.

[code]

Note - scroll down until you encounter `טtest` and you will see the issue.

[2020-04-13 14:38] Dimibe commented on #23
Yeah the problem is that your Class MyContact is not comparable. So you need to implement the Comparable interface in your class and it will work. e.g.
[code]

[2020-04-15 11:47] sergeatoma commented on #27
Same here. Any possible solution for use groupedlistview inside SliverChildListDelegate without shrinkWrap?

[2020-04-15 16:41] leonardo2204 commented on #27
I don't think so, without either Expanded or shrinkWrap it won't work...

[2020-04-16 08:22] Usmani7 opened #29 "Sorting double and integers as strings"
When we sort double or integer. It takes it as string and sort in the same way. For example, if we have a list 1, 2, 3, 10, 12, 15.
we get 1, 12, 15, 2, 3 in sort.

[2020-04-16 08:51] #29 closed

[2020-04-17 06:43] Dimibe commented on #27
@leonardo2204  Thanks for your issue.
The Expanded Widget is needed in case the sticky group headers are being used. I'am currently reworking the sticky headers. I will do my best to avoid the expanded widget in the reworked version.
I'll let you know when the new version is available.

[2020-04-17 11:55] leonardo2204 commented on #27
Thank you very much! Let me know if you need any help!

[2020-04-18 19:00] allanwolski commented on #27
Thanks for the lib, @Dimibe
I also need this to use the GroupedListView inside a Column.

[2020-04-20 03:07] tcoursen3 opened #30 "Sort items within group"
Is there a way to sort the items with the group?

[2020-04-20 05:13] Dimibe commented on #30
Items of Type String or Objects which implement the Comparable Interfaxe are sorted alphabetically/according their comparable implementation.

[2020-04-20 13:23] tcoursen3 commented on #30
Thank you.  This worked perfectly.  I am new to Dart and flutter.
Your widget is great.  Easy to use, and works and looks great.  Appreciate you making your work public.

[2020-04-20 16:31] #30 closed

[2020-04-28 08:49] andzejsw opened #31 "groupBy: String"
I have tested, that "groupBy" attribute works, if i am using integer value. It would be nice, that there would be option to group items by string value.

[2020-04-28 11:16] Dimibe commented on #31
Hello @andzejsw, the `groupBy` attribute works already on type string. Check the [example code](https://github.com/Dimibe/grouped_list/blob/22be7aed69d79288b1e62d965fa44a97719f9c1c/example/example.dart#L29) for more information. Let me know if anything does not work as expected.

Best regards

[2020-04-28 11:56] andzejsw commented on #31
Tnx. My bad.

[2020-04-28 11:56] #31 closed

[2020-04-29 06:03] JIAZoro opened #32 "Custom group order"
怎么对组进行自定义排序？
比如例子中的是[Team A,Team B, Team C],
如果要按照[Team C,Team A,Team B]该怎么做？

[2020-04-29 06:40] Dimibe commented on #32
@JIAZoro Could you please translate it english otherwise I can't help you.

[2020-04-29 07:18] JIAZoro commented on #32
How to customize the order of the groups?
Your Demo the  order of the group is [Team A, Team B, Team C,Team D],
if the custom order of group is [b,a,d,c],how to do?

[2020-04-29 07:35] Dimibe commented on #32
@JIAZoro I don't know your data structure used for the list but if your elements are objects the easiest solution is to implement the Comparable interface so that your elements get sorted like you want. Then you would have also the whole object for the groupSeparator where you could extract the group header information from.

So something like this for your data structure:
[code]
and then the List

[2020-04-29 07:55] JIAZoro commented on #32
This problem has been solved by adding Index to the data。
thank you

[2020-04-29 07:55] #32 closed

[2020-04-30 17:59] Daniel-Ioannou opened #33 "Don't dispose ScrollController that pass as parameter"
This packages calls .dispose() on the ScrollController argument it receives.

This means the obvious usage pattern is now wrong:
[code]
This is surprising: If I'm creating the controller and pass it in, it should also be my job to dispose it. This is the way it works everywhere else in Flutter.

[2020-04-30 18:15] Dimibe commented on #33
@Daniel-Ioannou The way the package is designed it needs a controller. So if you don't pass one internally one is created.
This is the trade-off I've made to provide the `controller` option for external use.
The other option was to not provide the `controller` option for external use.

[2020-05-01 16:47] Daniel-Ioannou commented on #33
@Dimibe If controller pass as argument it must not dispose. If I'm creating the controller and pass it in, it should also be my job to dispose it. So if a controller don't pass dispose the controller that created internally.

[code]

[2020-05-02 10:02] Dimibe commented on #33
@Daniel-Ioannou Feel free to open a pr.

[2020-05-02 11:45] icnahom opened #35 "AnimatedList for Enhancement."
What are the possibilities of implementing `AnimatedList` to the package? If there is a possibly please consider it.

[2020-05-03 19:08] ThomasValois commented on #27
Having the same issue here. Happy to hear it's being worked on! @leonardo2204 thanks for your initial fix on it

[2020-05-04 20:55] Dimibe commented on #33
@Daniel-Ioannou Thanks, your PR has been merged and is available in version 2.3.1

[2020-05-04 20:55] #33 closed

[2020-05-04 21:02] Dimibe commented on #35
@icnahom Yeah would be nice to have this. Currently I'm very busy but great idea!

[2020-05-05 06:21] Daniel-Ioannou commented on #33
Thanks @Dimibe for your cooperation.

[2020-05-05 11:41] Dimibe commented on #27
@leonardo2204 @ThomasValois Version 3.0.0 was just released. There the issue should been fixed. Let me know if anything does not work as expected.
@allanwolski Should be also working inside a column now like the standard `ListView`.

[2020-05-05 11:41] #27 closed

[2020-05-05 11:44] Dimibe commented on #13
@icnahom Version 3.0.0 was just release. Sticky Headers are now default and a new option `floatingHeader` is available. When set to `true` the sticky headers should behave like you described. Let me know if any problem occurs.

[2020-05-05 11:44] #13 closed

[2020-05-05 11:46] Dimibe commented on #12
@icnahom Issue is fixed in version 3.0.0

[2020-05-05 11:46] #12 closed

[2020-05-06 12:45] rashmisridar opened #37 "Not working while using column as parent for GroupedListView"
[code]

[2020-05-06 12:50] Dimibe commented on #37
@rashmisridar Try to wrap a `Extended` Widget around the `GroupedListView`.

[code]

[2020-05-06 16:59] LOG-TAG commented on #37
@Dimibe  it's`Expanded` ?  https://api.flutter.dev/flutter/widgets/Expanded-class.html

[2020-05-06 17:49] Dimibe commented on #37
@LOG-TAG @rashmisridar  yeah ups of course it is Expanded.

[2020-05-07 14:45] kinex opened #38 "Possible performance issue in 3.0"
I tried upgrading form 2.31 to 3.0. After the upgrade the parent widget where I have `GroupedListView` gets rebuilt every time I scroll the list view. In other words the widget including `GroupedListView` is rebuilt repeatedly unnecessarily. This makes the list very slow. Issue gets fixed if I revert to 2.3.1. Any ideas what could be wrong?

Simplified build method where the problem occurs:
[code]

[2020-05-07 15:10] Dimibe commented on #38
@kinex Do you have set the option `useStickyGroupSeparators` to `true` in the version 2.3.1?
This option is by default active since version 3.0.0 and I think thats where the performance issues comes from. So workaround might be to set this option explicitly to `false` in verison 3.0.0.
I'am working on a fix and let you know when I have any updates on this.

Thanks for your help.

[2020-05-07 17:05] kinex commented on #38
Thanks for your quick response. I am not setting it to `true` in 2.31. I will try your suggested workaround soon.

[2020-05-12 11:55] Dimibe commented on #37
Seems to be solved so the issue will be closed.

[2020-05-12 11:55] #37 closed

[2020-05-13 08:53] icnahom commented on #13
I can't center the header like the Image I posted up there. Can you show me an example of how to do this? Because when I use the widget Center it pushed it to the middle and when I remove Center the overlapped header inside the list gets messed up.

[2020-05-13 09:04] Dimibe commented on #13
@icnahom Try this:
[code]

[2020-05-17 21:15] yalva opened #39 "not working with group by type boolean"
Its not working if we use the bool as group by field like this
GroupedListView<dynamic, bool>

This is the error
flutter: state: _GroupedLisdtViewState<dynamic, bool>#b8373):
flutter: The method '>' was called on null.
flutter: Receiver: null
flutter: Tried calling: >(0)

[2020-05-18 18:44] Dimibe commented on #39
@yalva Fixed in version 3.0.1

[2020-05-18 18:44] #39 closed

[2020-05-18 18:46] yalva commented on #39
Brilliant! thank you.

[2020-05-21 12:23] icnahom commented on #38
I think it's better to have it as `false` by default, Dimibe. Now people will be forced to add one line for the feature they don't want.

[2020-05-21 12:33] icnahom opened #40 "Ripple effect not working."
Hello again,

Using `ListTile` or `InkWell` in the `itemBuilder` does not show the ripple effect when tapping on an item. But functions like `onTap` and `onLongPress` work, it's just the effect that doesn't work.

[2020-05-21 17:58] MihaiRebegea opened #41 "Something is not right after updating to v3.0.1"
Hello,

I just updated my app with the latest version of the library and my grouped list is behaving strange.

I noticed that if I don't add the floatingHeader param to false, then I get only the first groupSeparator item and the rest of the list is not visible.

If I add the floatingHeader param to true then I get all the items of the grouped list with a sticky groupSeparator item which somehow h

[2020-05-21 18:55] Dimibe commented on #41
@MihaiRebegea I'll have a look into it. Which version have you been using before 3.0.0 or 2.x?

Regarding your question: Sure you can this. The list is ordered by the groups and inside the groups it is ordered by the element itself. So you need to to extend the Comparable interface and implement the compareTo method. e.g:

[code]

[2020-05-22 12:33] michaelmairegger opened #42 "First group separator has wrong theming when using dark mode"
Hi,

i use the brightness: Brightness.dark within ThemeData. Unfortunately the first group header does not use the dark color as background and therefore the header is not visible. If I set the property floatingHeader to true then the background is set correctly

|floatingHeader = false|floatingHeader = true|
|---|---|
|![Anmerkung 2020-05-22 143144](https://user-images.githubusercontent.com/43410

[2020-05-22 14:12] MihaiRebegea commented on #41
@Dimibe In version 2.x it worked. After installing 3.0.1 the header issue occurred.
For now I reverted to 2.3.0 and everything works fine.

Thank you very much for the hint and the quick reply!

[2020-05-23 07:03] Dimibe commented on #41
@MihaiRebegea I think I figured it out. It should be fixed in version 3.1.0. Let me know if it still does not behave like in version 2.3.0.
When using version 3.1.0 please set the parameter like you did in version 2.3.0, so remove the floatingHeader parameter or set it to false.
Best regards

[2020-05-23 07:05] Dimibe commented on #42
@michaelmairegger It should be fixed in version 3.1.0. When using this version please set all properties like you did before, so there should be no need to use the floatingHeader property anymore.
Let me know if something still does not work as expected.
Best regards

[2020-05-23 07:06] Dimibe commented on #40
Hi @icnahom, I will look into it this weekend.

[2020-05-24 08:15] MihaiRebegea commented on #41
@Dimibe I don't get the transparent group header anymore if I don't use floatingHeader, and useStickyGroupSeparators.
However setting the useStickyGroupSeparators to true is not showing the rest of the list items, (besides the first groupItem).
And if I set floatingHeader to true I see all the list elements but with the same issue of the transparent group item.
I will leave this version for now, b

[2020-05-24 08:25] Dimibe commented on #41
@MihaiRebegea Can you send me your code from the groupSeparatorBuilder function? Are you using the Center widget. If so that might be the issue.

You need to wrap the center widget with a "Container"-Widget and specify a hight, e.g.:

[code]

The other is to remove the "Center"-Widget and directly use the "Text"-Widget, e.g:
[code]

In this case don't forget the "textAlign"-Property in the "Text"-

[2020-05-24 08:31] MihaiRebegea commented on #41
Sure, this is the code I use currently:

`  Widget _buildGroupSeparator(dynamic groupByValue) {
    return Padding(
      padding: EdgeInsets.only(top: 16.0),
      child: Column(
        children: <Widget>[
          Container(
            alignment: Alignment.centerLeft,
            margin: EdgeInsets.fromLTRB(18, 0, 0, 16),
            child: Text(
              DateTimeUtils.getDateAsStringOut

[2020-05-24 08:35] Dimibe commented on #40
Hey @icnahom,
I tested it and there seems to be no difference between a normal ListView and the GroupedListView. Here is a gif how it looks on my device.
![ripple](https://user-images.githubusercontent.com/15692917/82749520-05786980-9daa-11ea-9667-4462fee7ec7c.gif)

[2020-05-24 08:42] Dimibe commented on #41
@MihaiRebegea This seems to be the same issue here like the one I described with the Center widget. The Column widget has no height so it expands to all the space it has and thats results in that the group header overlays the list.

I have just tried it out and its works when you wrap the Column inside a Container and then specify a height for the Container. e.g.:
[code]

[2020-05-24 08:51] icnahom commented on #40
Okay I will check it on the emulator and try to resolve the problems on my side. I will close this for now. Thanks for giving it a check!

[2020-05-24 08:51] #40 closed

[2020-05-24 08:56] MihaiRebegea commented on #41
yes, that did the trick, I had to add a background for the container as well, otherwise when activating the floating header the background was still transparent.
Looks good now, thank you very much.

[2020-05-24 09:14] Dimibe commented on #41
@MihaiRebegea If you dont want transparent background you can leave the floatingHeaders option to false. Without this option the sticky headers should work like in version 2.3.0.

I'll close this issue since your main issue is solved.

Best regards

[2020-05-24 09:14] #41 closed

[2020-05-24 17:29] #42 closed

[2020-05-24 18:10] joshuaboltzmc commented on #38
I noticed a similar issue in my app that was using Grouped List 2.3.0, and setting the `useStickyGroupSeparators` value to `false` fixed my performance issues. But, without this setting, how can i get sticky headers?

I tried updating to 3.1.0 and am getting basically the same results where if i have it set to true, it causes performance issues when scrolling.

[2020-05-24 18:15] joshuaboltzmc commented on #38
Upon further looking, it looks like what's happening is every time the sticky header changes (as i scroll down, if currently on "A", when the "A" tries to change to "B", which assuming is changing state) makes some child widgets in my grouped list widget rebuild. Those child widgets use provider to manage and track their state.

[2020-05-27 15:29] jadenwjh opened #43 "Use of groupSeparator property"
groupSeparatorBuilder: (String value) => Padding(
            padding: EdgeInsets.fromLTRB(15, 40, 10, 10),
            child: Row(
              crossAxisAlignment: CrossAxisAlignment.start,
              children: <Widget>[
                Text(
                  value,
                  style: TextStyle(fontSize: 20, fontWeight: FontWeight.w300),
                ),
              ],

[2020-05-27 15:52] Dimibe commented on #43
Hi,

there is currently no separate option to do something like that. All
groupSeparators are build like defined in the builder method.
So the only possible solution is to modify the implementation of your
builder method and do a distinction inside it. E.g. if the provided value
is Monday then set the top padding to 10 in all other cases to 40 like you
are doing currently.
I know that's not best c

[2020-05-27 16:14] jadenwjh commented on #43
I see, thank you so much for your prompt reply! Yes your package seems to be the neatest and easiest to use hence I have decided to use it for my app, good job!

[2020-05-27 16:14] #43 closed

[2020-05-31 15:11] jadenwjh opened #44 "Implement new sorting options"
Hi I am looking to sort the elements by the days in the week instead of just ASC and DESC.
I tried to edit from the original sort for ASC.
These are the edits I have made to the grouped_list.dart file, but the app still remains to retain the original ASC sorting properties. Am I missing a step?

<img width="1757" alt="Screen Shot 2020-05-31 at 23 08 18 PM" src="https://user-images.githubuserconten

[2020-05-31 16:06] jadenwjh commented on #44
i realized that i need to use toString() to convert T object to String Object and also change the pubspec.yaml file of my app. Issue solved

[2020-05-31 16:06] #44 closed

[2020-05-31 16:12] Dimibe commented on #44
Hi @jadenwjh,
I've designed the package so that there should be no need to to override the sorting since sorting can be controlled with the comparable interface.
If you want a custom sorting I would suggest you to do it like I recommend here in the issue https://github.com/Dimibe/grouped_list/issues/32. This was almost exactly the same what you are trying to do.

The advantage of this solution is

[2020-05-31 16:29] jadenwjh commented on #44
this is a very well thought solution, thank you!

[2020-05-31 17:11] jadenwjh commented on #44
Hi @Dimibe,
I have tried the solution you suggested. The code runs, but the items are now separated individually, instead of falling under the same category this time.

<img width="438" alt="Screen Shot 2020-06-01 at 01 09 23 AM" src="https://user-images.githubusercontent.com/62279469/83358231-ba131c00-a3a4-11ea-80b5-c16556e0ffee.png">

[2020-05-31 17:33] Dimibe commented on #44
@jadenwjh can you send me the Code from your objects/compareTo implementation?

[2020-05-31 17:35] jadenwjh commented on #44
class Task implements Comparable {
  final String day;
  final String name;
  final String index;
  final String time;

  Task(this.index, this.name, this.day, this.time);

  @override
  int compareTo(other) {
    return index.compareTo(other.index);
  }
}

List<Task> _elements = [
  Task('1', 'Study', 'Monday', '16:00'),
  Task('1', 'Run', 'Monday', '17:30'),
  Task('1', 'Eat', 'Monday', '20:00')

[2020-05-31 17:42] Dimibe commented on #44
The code seems correct so far. Only thing I think that can be wrong now is the groupBy function. Did you group by the element itself like I mentioned in the other issue?
`groupBy: (element) => element`

[2020-05-31 17:43] jadenwjh commented on #44
yup I did, here is the portion of the code in question:

body: GroupedListView<dynamic, Task>(
          order: GroupedListOrder.ASC,
          groupBy: (element) => element,
          elements: _elements,
          useStickyGroupSeparators: false,
          groupSeparatorBuilder: (element) => Padding(
            padding: (element.day == 'Monday'
                ? EdgeInsets.fromLTRB(15, 10, 10,

[2020-05-31 18:38] jadenwjh commented on #44
@Dimibe Might it be because the input in your example is a List of Maps, but here we only have a List of Objects?

[2020-05-31 18:58] Dimibe commented on #44
@jadenwjh No this is not a problem. Did you reset the implementation of the _sortElements method inside the grouped list back to how it was?
I tested it with your code and it's working.

[2020-05-31 20:23] jadenwjh commented on #44
@Dimibe it did not work for me. I moved the code over to a new flutter app and re-imported the package but the items are still separated as per above.

[2020-05-31 22:18] jadenwjh commented on #44
i've decided to go with switch-case to convert the indexes into words, and use the suggestion you provided to sort the time attribute instead. This helped me achieved better results too, thanks.

<img width="458" alt="Screen Shot 2020-06-01 at 06 18 29 AM" src="https://user-images.githubusercontent.com/62279469/83363923-bb0d7300-a3cf-11ea-9b6d-40b4cdbf01cd.png">

[2020-06-02 12:14] zanesc commented on #38
I am not sure if this is related but I am using 3.1.0 with useStickyGroupSeparators set to true and two items in my list of about 50 items are swapping positions. I can see the text constantly swap between the two while I scroll. The performance is a lot better if I disable useStickyGroupSeparators but i really want it. Thanks for all of your work so far.

[2020-06-06 09:12] ashutosh840 opened #45 "How to list custom datatypes in group"
`
[code]

`
`Now I want the following list `
`
[code]

`
Into the grouped list according to **DayofBirth**

This is my GroupListView
`
[code]

`

[2020-06-06 09:33] Dimibe commented on #45
@ashutosh840 What exactly is the problem?
Can you tell me how the list looks with your implementation and what you would expect instead?

[2020-06-06 10:42] ashutosh840 commented on #45
It should be like this
[code]

[2020-06-06 10:44] ashutosh840 commented on #45
There would be no stars it is just to say that it is the header

[2020-06-06 10:48] Dimibe commented on #45
@ashutosh840 okay I unterstand.
After a look at your code it should be displayd exactly like this.
How is it at the moment? Can you post a screenshot or any information to get the problem?

[2020-06-06 12:48] ashutosh840 commented on #45
It is showing some error. Please try it on your computer you will see it.

[2020-06-06 13:11] Dimibe commented on #45
After rereading your code I notice some mistakes, that do not have anything do to with this plugin.
In your constructor you are not assigning the values to the class attributes but you assign class attributes to the variables.

In case of this:
[code]

It need to be like this:
[code]

In dart you you can just write, it is the same as the above:
[code]
With this change your code should run as expec

[2020-06-06 13:11] #45 closed

[2020-06-06 14:24] ashutosh840 commented on #45
Sorry to say but error again popped out

[code]

**the code is**

[code]
[code]

[2020-06-14 04:09] function2000 opened #46 "It always show 'Team C' on the screen."
It always show 'Team C' on the screen when run your example.  Please check.

[2020-06-14 07:40] Dimibe commented on #46
@function2000 Thank you for notifying me, I fixed the example code.
You can view [my latest commit](https://github.com/Dimibe/grouped_list/commit/4ae7bf1112cf656a4e4f20c2fda1375f976c0256) to see what was not working and you can find a more detailed explanation why this was not working [here](https://github.com/Dimibe/grouped_list/issues/41#issuecomment-633197273).

[2020-06-14 07:40] #46 closed

[2020-06-16 18:39] deezaster opened #47 "Request for Feature: different values for 'groupBy' and 'groupSeparatorBuilder()'"
Current example:

groupBy = yyyyMMdd (e.g. 20200409)
groupSeparatorBuilder() = yyyy MMM (e.g. 2020 April)

In this example (order: GroupedListOrder.DESC) Mai (engl. May) should be before März (engl. March):

![image](https://user-images.githubusercontent.com/1539838/84814000-1b77f380-b011-11ea-957e-77b12d7c19f9.png)

Request:
It would be nice to pass the entire map (the element) to the function 'g

[2020-06-17 09:54] Dimibe commented on #47
Hi @deezaster, there were several questions like yours, but I have some concerns because of backwards compatibility. I'm trying to provide an easy solution for this in the future. Currently there is a work around which you can try (only works if your data are real objects):

1.  Group by the element itself then the element will available in the groupSeparator function.
2. Override the `compareTo`

[2020-06-17 09:54] #47 closed

[2020-06-17 13:59] ermand-hoxha commented on #38
I have the same problem, i'm using version 3.1.0. Is there a solution for it?

[2020-06-18 12:19] danilonogueirateixeira commented on #38
I have the same problem, when useStickyGroupSeparators set to true two elements that were swapping positions.

[2020-06-23 08:53] Dimibe commented on #38
Version **3.2.0** has just been released.

**Performance issues:**
There should be an increase in performance, since the widget is now only rebuild when necessary and not all the time.
Please let me know if there are still performance issues. I'm working on further performance improvements but this fix maybe should fix some of the issues.

**Items swapping:**
Problems with items swapping positions

[2020-06-23 10:14] Dimibe commented on #26
With release 3.2.0 some performance improvements where added. Please check If the issue is solved for you.
I‘ll close this issue, please refer to #38 for further problems with performance.

[2020-06-23 10:14] #26 closed

[2020-06-23 10:35] ermand-hoxha commented on #38
I still have that issue, also with the new version 3.2.0.

[2020-06-23 11:11] Dimibe commented on #38
@ermand-hoxha Performance Issues or the issue with the items being swapped?

[2020-06-23 13:09] ermand-hoxha commented on #38
Performance issue

[2020-06-23 22:21] allanwolski commented on #38
I see a performance improvement, but I have a problem when the header items swapped.

How to fix this?

[2020-06-24 13:58] Dimibe commented on #10
@wisecoders I've just released a package which depends on scrollable_positioned_list.
Please check it out: https://github.com/Dimibe/sticky_grouped_list

[2020-06-24 13:58] #10 closed

[2020-06-24 14:00] Dimibe commented on #47
@deezaster I've created a new package which depends on scrollable_positioned_list. In this package the groupSeparatorBuilder takes the whole element as argument.
Maybe you want to try it out: https://github.com/Dimibe/sticky_grouped_list

[2020-06-24 14:03] Dimibe commented on #38
@allanwolski Like I mentioned this problem most likely comes from your elements not being sorted correctly. Please make sure your items are being sorted according their display value or sort them yourself and disable automatic sorting with the option `sort: false` in the list.

[2020-06-24 14:06] Dimibe commented on #38
I have created another package which depends on the scrollable_positioned_list because this was a highly requested feature.
Due to the underlying structure I think the package has better performance as well. If some of you want to try it out, here is the link: https://github.com/Dimibe/sticky_grouped_list.

[2020-07-06 13:37] jadenwjh opened #48 "Custom Ordering as Enhancement"
Perhaps it will be a good idea to have a way to have custom orderings? This will allow different groups to be flushed to the top of the list, which is a feature I noticed is lacking in many widgets

[2020-07-06 14:07] Dimibe commented on #48
Hi @jadenwjh,
what would you expect for an custom ordering? If you have any ideas please let me know.

Maybe this helps already a bit:
 I have made another grouped list package where the groupSeparatorBuilder gets the whole element instead of just the `groupBy` value. E.g. with that it's possible to display weekdays as groups names and sort them so that Monday is always on top (#47) .

I've create

[2020-07-06 18:51] jadenwjh commented on #48
Hi @Dimibe , I really liked the sticky_grouped_list. Thanks for sharing.

The custom ordering i was referring to was something like this:

I have different groups of items (Monday Tuesday ....). By default, Monday will be pushed to the top of the list. I am looking for a way to modify this order. For example, once it is Tuesday, I would like Monday to go to the bottom, and Tuesday to be pushed to

[2020-07-14 16:23] joshuaboltzmc commented on #38
I've tried that Sticky Grouped List, which is very identical in setup to Grouped List, and I am still seeing performance issues on a Flutter web project. Mobile is fine, but may have the same issues, although less noticeable because it's a small render.

The issue is that i have a grouped list view, and within each row (aka client), i access some state from Provider about the number of projects th

[2020-07-17 06:56] zanesc commented on #38
Just tested 3.2.3 and useStickyGroupSeparators is still unusable. Performance is a littler better but there is still noticeable lag when the sticky group separate is changing.

The issue with items swapping still persists. The items are order correctly. New in 3.2.3, the items now swap live while scrolling when the sticky group separator is changing. This only happens with useStickyGroupSeparators

[2020-07-18 12:53] Dimibe commented on #38
@zanesc
 When set `useStickyGroupSeparators` to `true` the list package the items internally. This is done by comparing the `groupBy` value of the elements and the elements itself. If the items are swapping that is because either the sorting of the `groupBy` values or the elements is not consistent. If thats the case each time the widget rebuilds the order may change.
To fix this you need to fix y

[2020-07-18 20:02] zanesc commented on #38
@Dimibe The elements are ordered correctly. The categories are ordered by a categorySortOrder int and there are no duplicates, and the items are ordered by a sortOrder int with no duplicates within their respective categories.

This isn't an issue for me as I would not be using the stickyGroupSeperators because of the noticeable lag when the sticky headers change. I haven't taken a look at your co

[2020-07-20 13:55] sm2017 opened #49 "Feature request : Animation"
See https://pub.dev/packages/sticky_headers

![image](https://github.com/slightfoot/flutter_sticky_headers/raw/gh-pages/demo1.gif)

Header sticky header has animation and pushed up by animation

[2020-07-21 06:12] sm2017 opened #50 "ExpansionTile as header"
How can I use `ExpansionTile` as header?

[2020-07-21 06:50] sm2017 opened #51 "Bug : Header not changed once elements changed"
I have a search field that filter `elements`, When I change `elements` by filtering theme , sticky header (that removed by filtering) is not removed and after scrolling is removed

[2020-07-24 16:38] #38 closed

[2020-07-24 16:52] Dimibe commented on #38
### Performance issues fixed in version 3.3.0

@zanesc Thank you for your detailed explanation. I released a new version 3.3.0 where the list does not rebuild when the sticky group header changes. With that I expect the performance issues to disappear. Therefore I have closed this issue.

For the issue with the changing order please create a new issue if still present. It would appreciate a small

[2020-07-25 06:25] joshuaboltzmc commented on #38
Thanks so much for fixing this! The performance is much better using 3.3.0!

[2020-07-27 12:41] MihaiRebegea opened #53 "OnTap event responsive accuracy low"
I have some issues with the onTap/onPressed events on Items of Grouped list.
I get an 70-80% response accuracy.
When I use a Listview directly the onTap events are triggered accurately as expected - so I can only draw the conclusion that it's related to the grouped list.

I need to make the items of the grouped list selectable - I used InkWell or GestureDetector and I get the same response accurac

[2020-07-27 15:14] Dimibe commented on #53
Hi @MihaiRebegea, can you provide a more detailed example?
I've just tested it with a `GestureDetector` and it seems to work fine.
[code]

[2020-07-27 18:07] jadenwjh opened #54 "Render items even if not shown on screen"
Hi, the issue is regarding the use of Builder. The items that are not mounted on the screen will not be render, unless the user manually scrolls the the list to reveal them. This is an issue because in my app, the items have Timers and the Timers in the items far down the list cannot be activated unless the user scrolls the list.

[2020-07-27 18:34] jadenwjh commented on #54
I figured out a workaround for the problem. That is to programmatically scroll the list once the list is built, before the user can interact with it. This can be a small addition to the widget i feel.

@override
  void initState() {
    super.initState();
    WidgetsBinding.instance.addPostFrameCallback((_) {
      _controller.jumpTo(_controller.position.maxScrollExtent);
      _controller.jumpTo(

[2020-07-28 08:55] MihaiRebegea commented on #53
Hi @Dimibe I just created a more light weight example that I wanted to share here but I can't reproduce the issue anymore.
I need to investigate further, maybe I use a combination of things which interacts with the GestureDetector
I'll close the issue for now.

Thank you for looking into it.

[2020-07-28 08:55] #53 closed

[2020-07-28 09:03] Dimibe commented on #54
Hi @jadenwjh,
this behavior is by design done in the ListView.builder. It allows you to pass many data in the list without the list beeng laggy because rendering the items is expensive. For that I will not change the widget. I think your use case is a special one and implementing this will cause performance issues for many other use cases.

[2020-07-29 11:09] sm2017 commented on #50
@Dimibe Can you please help me?
`ExpansionTile` has a `children` prop , But header in `grouped_list` in actually an item without child
https://github.com/Dimibe/grouped_list/blob/master/lib/grouped_list.dart#L192

So how we have collapse and expand header?

[2020-08-03 09:50] vohoangtuit opened #55 "Can not with List Model"
I have a model Product, add List data with this model, but can not group by with that, run show error: Class 'Product' has no instance method 'call'.
Receiver: Instance of 'Product'
Tried calling: call(Product)

-------------
class Product{
  String id;
  String name;
  String price;
  String image;
  String create_at;

  Product({this.id, this.name, this.price, this.image, this.create_at});
}

[2020-08-03 09:55] Dimibe commented on #55
@vohoangtuit Can you please provide the code of the GroupedList widget as well.

[2020-08-03 13:42] vohoangtuit commented on #55
Hi, this my code, please support me
https://github.com/vohoangtuit/flutter_custom_listview/blob/master/custom_listview/lib/views/listview_group_by_header.dart

[2020-08-03 18:17] zamarrong commented on #55
I have the same issue when trying to set the group by with a property from custom class list object

[2020-08-06 05:25] zanesc commented on #38
Thanks @Dimibe v3.3.0 is much better!

I fixed the ordering issue by setting sort to false on GroupedListView.

The only other issue I see is that the header on the list is still visible below the sticky group header which creates an overlap but I guess this was the sacrifice that you had to make in order to not rebuild the list when the header changes.

[2020-08-22 20:12] Sergio719 opened #56 "first item is not in alphabetical order"
Hi, I have a grouped list that works very well except that the first item in the grouped list is not il alphabetical order as the following ones. Note the original list is already ordered in alphabetical order.
So I cannot explain this behaviour. Maybe a bug?

please see the attached example.

Thanks in advance for your help! and congratulations for the nice tool.
Sergio

![Simulator Screen Shot -

[2020-08-24 15:19] Dimibe commented on #56
There is an option `sort` which you can set to 'false' if your list is presorted.

I was not able to able to reproduce the problem.

[2020-09-01 22:25] pratamatama commented on #48
Hi @Dimibe , I agree with this enhancement request. There is an issue when using the ordering when the data is already sorted from the backend.

To be clear, please have a look at the screenshot below. On the left, it shows the original data sorted by the latest creation date to the oldest and `GroupedListOrder` set to `ASC`. The grouping is fine, but it doesn't put Today's data on first position

[2020-09-09 14:02] shanthosh2910 opened #57 "Unable to group Map"
I have a list of map `List<SongInfo> songs;`

![image](https://user-images.githubusercontent.com/22300553/92608056-82d0d700-f2d2-11ea-951e-63655cef5cc7.png)

This is how I will use the normal `ListView`

[code]
Now I want to group all the songs by `song.album`.

[2020-09-09 14:04] Dimibe commented on #57
@shanthosh2910  What have you tried so far and what is not working?

[2020-09-09 14:10] shanthosh2910 commented on #57
I tried this. Getting `NoSuchMethodError`
[code]

[2020-09-09 14:16] Dimibe commented on #57
@shanthosh2910
As mentioned in the readme, you neeed to specify `groupSeparatorBuilder` which is a function which returns a widget for the group header (equal to `itemBuilder` for items). There you can customize the group header as you like.

In your case a very basic solution would be something like this:
[code]

[2020-09-09 14:21] shanthosh2910 commented on #57
Thank you!!!

[2020-09-09 14:38] #57 closed

[2020-09-15 17:46] xJon opened #58 "Order groups by"
Hi, first of all thank you for creating a great & useful package.
I wanted to ask - is there a way to order the groups by a custom (and not alphabetical) order?
Thank you!

[2020-09-15 17:48] xJon commented on #58
A minute later I find the `sort` option - setting it to `false`, I am able to order the groups by presorting my list.
Thank you nonetheless.

[2020-09-15 18:04] xJon commented on #58
Actually, it's not the perfect solution. I'd like to know what you think about the feature!

[2020-09-15 20:28] Dimibe commented on #58
Hi @xJon,

currently there is no custom sorting option available.

The groups and the elements inside each group are sorted according their comparable implementation. So for example when using Dates the groups will be sorted by date and not alphabetically. The groupHeaderBuilder could then display the weekday or something.
For custom sorting you could override the compareTo method of your groupBy

[2020-09-15 23:53] xJon commented on #58
Hi, thank you for the quick and detailed response.
I am grouping my items according to their pre-assigned category names, so currently they are only sorted alphabetically.
My plan was to sort the categories according to the `DateTime` assigned to each item. I'm not sure how I'd do that with what you were suggesting?

[2020-09-17 18:04] Dimibe commented on #58
@xJon I mean't that you can do something like this:

[code]
The List is grouped by the actual date (without time) and then in `groupHeaderBuilder` you format the Date in another way. So this example will lead to this outcome:
![image](https://user-images.githubusercontent.com/15692917/93509772-81ca2600-f920-11ea-8f78-a8f9ac43187e.png)

As you can see the months are displayed and in chronological o

[2020-09-17 18:29] xJon commented on #58
I see. That is a useful option but it isn't applicable in my case, as I am trying to use `groupBy` in one way, and then order the groups in another way. Thank you nonetheless for the support!

[2020-09-17 19:08] Dimibe commented on #58
@xJon No problem, what exactly want you to do?
On way of archiving your described use case may be this:

[code]

As you can see the list is grouped by a field of the element. This field's class implements the Comparable interface. There a custom comparison is implemented.
Does this solves your problem?

[2020-09-18 17:36] deakjahn commented on #58
I came here because of the same issue. The idea would be OK but it seems the execution is not yet perfect. :-) Even if I have `compareTo` return zero for groups that I consider the same, they will appear separately. I have a hunch that you don't use `compareTo()` in every single place needed, so two groups that have the same actual contents but are different actual objects get treated separately.

[2020-09-18 17:47] deakjahn commented on #58
Indeed. If I create a littl helper:

    bool _equal(E e1, E e2) {
      var compareResult;
      if (e1 is Comparable) {
        compareResult = (e1 as Comparable).compareTo(e2 as Comparable);
      }
      if ((compareResult == null || compareResult == 0) && e1 is Comparable) {
        compareResult = (e1).compareTo(e2);
      }
      return compareResult == 0;
    }

And use it in both plaxes w

[2020-09-18 18:17] Dimibe commented on #58
@deakjahn Yes, I use `compareTo` only for sorting. For grouping the equality operator is used.
So intended solution would be to also override the == operator (see [dart doc](https://api.dart.dev/stable/2.9.2/dart-core/Object/operator_equals.html)) in your class.

[2020-09-18 18:24] Dimibe commented on #58
Since the procedure seems a little confusing I thought of a solution and is my proposal:

A new option `sortGroupBy` will be added which takes a function: `int Function(E group1, E group2)`

[code]

@deakjahn, @xJon What do you think, would that solve your problem?

[2020-09-18 18:35] deakjahn commented on #58
Just as fine. I would actually suggest this over the `==` approach because forcing to override might not be a good choice. Who knows, people might not want to create a simple class just for the group but they might try to reuse some larger class they already have and overriding equality might just upset the applecart for them. Better leave it alone and ask for the comparison specifically.

[2020-09-18 19:20] Dimibe commented on #58
To be clear here, the new option will only be used for sorting.
When returning zero the only effect will be that the order of the two compared groups is not defined.

So with that new option you must not implement and override the
Comparable interface. This might help in use cases where the group value is not a dedicated class but just some data.

If you want two groups to be treated as the same t

[2020-09-18 19:37] deakjahn commented on #58
Yes, confirmed, it works that way. If you just mention this in the source comments around `groupBy`, and with the new addition, it should cover all cases.

[2020-09-19 11:49] Dimibe commented on #48
Done with #59

[2020-09-19 11:49] #48 closed

[2020-09-19 11:55] Dimibe commented on #58
Closed with #59

[2020-09-19 11:55] #58 closed

[2020-09-19 12:16] Dimibe commented on #56
In Version 3.5.0 there is now an option `itemComparator` which can be used for a custom sorting between items in a group. Please try this.

[2020-09-19 12:17] #56 closed

[2020-09-21 16:51] xJon commented on #58
Hi @Dimibe, thank you for the new feature!
It is useful but I'm pretty sure that in my case it's non-applicable, as the `groupComparator()` function provides the same values given to the `groupBy()` function.
I'm using `groupBy()` to group my items according to their pre-assigned category names, but then my intention is to sort the groups according to the groups' latest-added item timestamp (which

[2020-09-21 18:18] Dimibe commented on #58
@xJon No that's not possible because it is not known what item is "first" during sorting. This information is obviously only accessible after the list is sorted once.
I think this is a very special use case so I won't implement a solution in this package.

What you could do is to store the "timestamps" of each group manually (e.g. in a map) and then access them in the groupComparator function.

[2020-09-21 20:49] xJon commented on #58
@Dimibe Looks like a good solution, thank you.

[2020-09-22 18:19] xJon commented on #58
@Dimibe I got it to work exactly as wanted with your advice!

[2020-09-27 09:03] hikmawanaz opened #60 "using grouped list as a grid view"
is it possible if i want use this package to make a grouped gridview? or there are another package

[2020-10-07 10:01] hikmawanaz opened #61 "Add reverse option from list_view"
is possible to reverse the list  so the scrollview will starts at the end of the list lie a chat dialog?

[2020-10-07 10:16] Dimibe commented on #61
@hikmawanaz Working currently on it. Will inform you when it's done.

[2020-10-07 10:17] Dimibe commented on #60
No it's not and there is also no other package from me.

[2020-10-07 10:17] #60 closed

[2020-10-16 05:05] velval commented on #51
I had the same problem and I think is got to do with below initialData state when generating the group headers.

StreamBuilder<E>(
          stream: _streamController.stream,
          initialData: _topElementIndex,
          builder: (context, snapshot) => _showFixedGroupHeader(snapshot.data),
        ),

If you use GroupedListView within a stateful widget and your state changes (for example when

[2020-10-21 20:33] xJon opened #62 "Solution to lack of @required on required parameters"
I found that it is easy to accidentally forget to use the required parameters for `GroupedListView()` that appear in the documentation; while doing so, there will be no compile-time error, and the run-time error one would get is rather cryptic:
[code]
I understand `@required` wasn't added because of the different builder types, but is there a way to make this more obvious?
Thank you!

[2020-10-24 20:28] xJon opened #63 "groupSeparatorBuilder ignored if groupHeaderBuilder is used"
`groupSeparatorBuilder` is useful for simple padding between groups; when using only `groupHeaderBuilder`, the first group also gets top padding, which isn't ideal.

[2020-10-24 21:02] Dimibe commented on #63
@xJon As written in the readme it is designed so that the groupSeparatorBuilder gets ignored when the groupHeaderBuilder is used. The two methods should do exactly the same, the only difference is the passed parameter to the builder. If there is any issue please provide an small example where the two functions lead to a different result.

[2020-10-24 22:43] xJon commented on #63
I want to simply place padding between each group, what do you think would be the best way to do so?
As I wrote before, I can't add top padding to each group header as I don't want the top (first) group header to have top padding.

[2020-10-25 04:50] Dimibe commented on #63
@xJon I think the only way is to check inside the builder if it's the first group and if so don't set the heading. This is a dirty solution because no index is provided and you need to figure out yourself if it's the first group or not.

What I don't get is what this issue has to do with the two different builder functions. They should work the same and it should be the same no matter which you us

[2020-10-25 12:35] xJon commented on #63
`groupSeparatorBuilder` sounds like it could work differently because of `Separator`, I didn't realize they work exactly the same.

[2020-10-27 18:51] ernest0vm opened #64 "The method 'removeListener' was called on null."
Hello, i have this issue

[code]

how can i solve it?, ScrollController is required?
this issue only is present in iOS platform and just through in release mode.

[2020-11-05 02:52] Syetchau commented on #54
Hi, I had implement this library in my project and used it to display list of data. When I switched index of chips, the list would filtered and rebuild the widget. It seem that rendering the huge list of data would take some time for the UI to built completely and causing poor performance. Is there any ways to overcome this issue ?

[2020-11-13 23:35] mdmota opened #65 "Sort freely. Don't asc and don't desc"
How do I leave the natural ordering of the list?
My list is for months / year.

I need it to look like this:
12/2020
....
...
...
01/2021
...
...
02/2021
...
...

[2020-11-14 18:05] #61 closed

[2020-11-15 07:26] Dimibe commented on #65
Hi @mdmota,

can you please provide some example code and the expected and actual output.

For sorting the items itself and values of the groupBy function are compared.
Normally the list sorts the groups and items according their natural order whereby DESC reverses this order. So without setting the order property or setting ist ASC you should be fine.

There are also two parameters where you can

[2020-11-15 15:37] Dimibe opened #69 "Null safety migration"

[2020-11-19 08:41] #63 closed

[2020-11-19 08:42] Dimibe commented on #62
@xJon Fixed with release 3.7.0

[2020-11-19 08:42] #62 closed

[2020-11-19 16:40] DenchikBY opened #71 "Slivers support"
Need a possibility to use grouped list based on SliverList inside CustomScrollView and NestedScrollView.

[2020-11-20 10:20] #69 closed

[2020-11-20 17:29] Dimibe commented on #64
Fixed with release 3.7.1

[2020-11-20 17:29] #64 closed

[2020-11-21 01:55] MilesZoltak opened #76 "Bug: Latest update (3.7.1) not compiling"
There seems to be a problem with "clipBehavior", reverting to 3.5.0 (just chose that one bc it was the version i started with) makes it work just fine in the meantime.

[2020-11-21 06:50] Dimibe commented on #76
Hi @MilesZoltak could you please further elaborate what error do you get? And what version of flutter and dart you are using.

For me everything works fine so I need more information.

[2020-11-22 07:05] abdulpiksi commented on #76
same as me

[2020-11-22 07:54] Dimibe commented on #76
Hi @abdulpiksi, thanks for the detailed information. I see that you are using Flutter version 1.20.
The latest stable version is currently 1.22.4.
You will need to upgrade to Flutter version 1.22 in order to solve the error.

@MilesZoltak I think you have the same error then.

Sorry for the inconvenience.

[2020-11-23 08:52] #65 closed

[2020-11-23 08:52] #76 closed

[2020-11-23 08:52] #55 closed

[2020-11-27 06:24] easydo247 opened #77 "RangeError (index): Invalid value: Not in inclusive range 0..14: 16"
[code]
When I scroll to the bottom of the list and then I try to filter the list content by pressing the "only even" button I get:

RangeError (index): Invalid value: Not in inclusive range 0..14: 16
The relevant error-causing widget was
GroupedListView<Map<String, int>, int>

[2020-11-27 12:55] kadirknk opened #78 "Group Tile Change Listener"
How can we use the change listener for the group title?

[2020-11-27 15:13] Dimibe commented on #71
Will look into it

[2020-11-27 15:14] Dimibe commented on #77
Will look into it

[2020-11-27 15:15] Dimibe commented on #78
@kadirknk Do you mean the sticky group header? Currently there is no way to listen to that change.

[2020-11-27 16:25] fenchai23 opened #79 "What's the difference between this package and sticky_grouped_list?"
they both seem to do the same?

do they both support CustomScrollViews?

what is the difference?

[2020-11-27 17:52] Dimibe commented on #79
The only difference is that the other package depends on the scrollable_positioned_list and this package depends on the standard list view.
With the scrollable_positioned_list view it is possible to scroll directly to a specific item.

The other (small) difference is, that in the other package always sticky headers are used, so the parameter "useStickyGroupSeparators" does not exists there.

[2020-11-27 18:10] fenchai23 commented on #79
I see, very understandable, best solution would be merging both if it was possible but I can understand why.

Thanks for the clarification.

[2020-11-27 18:10] #79 closed

[2020-11-27 18:17] Dimibe commented on #79
@fenchai23
Yes, putting them in one package would be good. But I did not want to have any non dart/flutter core dependencies in this package. The benefit of that is e.g. that I could already publish a null-safe prerelease version. That would not be possible if packages I depend on did not support null-safety.

In the future I will publish some more variants of grouped lists, e.g. one where you can

[2020-11-28 16:15] kadirknk commented on #78
yes I mean it. It is absolutely necessary.

[2020-11-30 05:27] fenchai23 commented on #71
does `SliverToBoxAdapter` not fix the issue?

[2020-11-30 11:20] DenchikBY commented on #71
It works only with `shrinkWrap: true`, but it doesn't fit

[2020-11-30 12:08] fenchai23 commented on #71
for me it gets real laggy but everything shows. Like REAL laggy. I haven't tried without sliverToBox Adapter. Will try today.

[2020-11-30 12:25] DenchikBY commented on #71
obviously, as `shrinkWrap` make list render all items at once

[2020-11-30 12:31] fenchai23 commented on #71
just discovered this O.O I will have to find a way to remove shrinkwrap now 😔

[2020-12-08 10:45] romain-bajoit-iot-d commented on #77
This only seems to happen when the elements are changed and the new GroupedListView does fit completely on the screen, the scrollListener is not trigger then and thus _showFixedGroupHeader receive the same previous topElementIndex which might trigger a RangeError if you had scroll down enough in a previously created GroupedListView.

[2020-12-23 06:19] jagadish-pattanaik opened #80 "How to group a list from sqlite db?"
I saw the documentation but I can't get any idea about how to group a list which is from sqlite database.

[code]

How to use the plugin in this case

[2020-12-23 15:09] evanswanyoike opened #81 "Gruped list delaying page navigation of bottom navigation bar(and Cupertino tab bar) with pageview."
With a normal listview.builder() bottom navigation bar navigates normally but after i added your package my app started hanging. This happens when the grouped list is in a column or listview with other widgets(i used a horizontal Date picker). There are no errors in the console.

[2020-12-31 16:44] KashPunny opened #82 "Display items within a grid"
Hi, I was wondering if there was a way to have the itemBuilder display the items within a GridView instead of a ListView? If not, maybe there's a workaround to have the items appear side by side instead of on top of each other?

[2021-01-02 09:05] ericel commented on #77
With the main flutter ListView, this is usually because of a missing itemCount. I am quite sure how this library deals with that here.
Try something like `semanticChildCount` to set the initial itemCount. That should fix the problem.

[2021-01-11 01:54] Born-A-Bot opened #83 "Error: clipBehavior - Error: No named parameter with the name 'clipBehavior'."
Hi,

When I downloaded a copy of the example to VS, I received the following error message:

Xcode's output:
↳
    ../flutter/.pub-cache/hosted/pub.dartlang.org/grouped_list-3.7.1/lib/grouped_list.dart:282:11: Error: No named parameter with
    the name 'clipBehavior'.
              clipBehavior: widget.clipBehavior,
              ^^^^^^^^^^^^
    ../flutter/packages/flutter/lib/src/widgets/scroll

[2021-01-11 02:13] #83 closed

[2021-01-11 08:36] pratamatama opened #84 "Feature Request: Per-group indexing"
It would be nice if we have the ability to index by group instead of the elements. The use case is like in this gif, where the timeline indicator doesn't know which element is the last element of the group, so it just draw the line through the separator.

_ignore the separator's date, it's hardcoded_

![nPBUof4vYZ](https://user-images.githubusercontent.com/42239243/104159533-1271c800-5422-11eb-9dd

[2021-01-15 02:03] devon opened #85 "Mobx Support?"
When use the plugin with mobx,

[code]

Flutter will warning, 'No observables detected in the build method of Observer'.

Also, when mobx store changed (add a new item into elements), the plugin will not rebuild.

Is there any example of how to use the plugin with flutter_mobx?  Thanks.

[2021-01-18 20:27] Born-A-Bot opened #86 "One GroupedListView with Two groupedBy"
When I attempt to create a GroupedListView object with two groupBy criteria - subjectName and courseName - I end up with two separate lists. And it repeats the list several times. Is there a way to create sublists -groupBy 1) subjectName, 2) courseName, 3) courseSection - using one GroupedListView object?

========================

import 'package:flutter/material.dart';
import 'package:grouped_li

[2021-02-01 14:13] grammatnMcK commented on #77
Hey that's a bug and I have it as well. @Dimibe any news there regarding this issue?

[2021-02-10 09:02] Prudential-Kenya commented on #77
The only fix now is to disable StickyGroupSeparators
`useStickyGroupSeparators: false`
or comment the line, it's false by default

Hope a fix will be pushed soon. I kinda like the StickyGroupSeparators. Thanks @Dimibe for this awesome package!👌

[2021-02-10 09:03] Marcosmaliki commented on #77
The only fix now is to disable StickyGroupSeparators
useStickyGroupSeparators: false
or comment the line, it's false by default

Hope a fix will be pushed soon. I kinda like the StickyGroupSeparators. Thanks @Dimibe for this awesome package!👌

[2021-02-11 16:51] Mun0nKado opened #87 "Group element style"
Would it be a cool feature to be able to style each sub group of elements?

Like in the example that i've attached, the borders and the divider inside a grouped element.

is it possible right now?

<img width="270" alt="Screenshot 2021-02-11 at 17 48 53" src="https://user-images.githubusercontent.com/77099695/107668848-6970f400-6c91-11eb-971e-be39400ef19a.png">

[2021-02-11 17:21] Dimibe commented on #87
Hello @Mun0nKado,

you can specify a widget for the separator between items inside a group with the `separator` property. With that you can draw a divider as in your example. Other things than that (like the border) are currently not possible and I will have no time in the near future to evaluate if that would be possible to implement.

[2021-02-11 17:24] Dimibe commented on #77
Sorry I am currently very busy and had no time to look into this issue. I hope I will find some time in the next two weeks or so.
If anyone of you has already found a solution feel free to open a PR.

[2021-02-12 10:19] Mun0nKado commented on #87
The separator property works fine for adding the line, thanks!

Maybe if you give me some guide, i can try to add the box decoration to that grouped element, and send you a PR to take a look on that!

Thanks for the lib is amazing. Now i'm going to try to add a sidebar to use it like an index for the initials of the names.

[2021-02-20 22:17] anonyran opened #88 "I have problem when grouping a list with SQLite"
Hello, I am newbie, and I have problem when grouping a list with SQLite, I get the error like in the picture
![Chưa có tên](https://user-images.githubusercontent.com/75026244/108609927-ffc8b680-7403-11eb-9d5b-d2feafeaebc2.png)

Please let me know where I was wrong, thank you and sorry for my english.

[2021-02-21 21:28] nivla360 opened #89 "Group Comparator Issue"
Is it possible to group by Integer instead of String?
Because the current String comparison doesn't work so well for me.

[2021-02-21 22:25] #89 closed

[2021-02-25 09:53] Manatho opened #90 "Adding sticky group seperator offset"
Would it fit the library to add the option of offsetting the sticky group separators to avoid duplicate titles?

Currently the group separator changes its value early, before it overlaps with the next header as seen below:

https://user-images.githubusercontent.com/24926785/109132924-b0acb980-7754-11eb-917f-7cbeb20a2479.mp4

I have botched together a quick change to get the following behavior:

ht

[2021-02-27 18:21] scrabbleknight opened #91 "GroupBy more than 1 element"
I'd like to be able to group my list by more than just one element. So that if there are several key/values in the list, we can group the list by more than just one element being the same. E.g. I have three elements, name, address and date, and I would like to be able to group these elements together if their address and their date are the same. I hope that makes sense - sorry I struggle to convey

[2021-03-02 12:13] Marcusjnr opened #92 "Adding issues"
Adding to this list used by the library programmatically  messes up the sorting, please how do we curb this

[2021-03-17 11:35] Veerendra-UI opened #93 "count grouping elements in list .."
in one array list how many items are there in groupby . count is not possible

[2021-03-20 12:05] #81 closed

[2021-03-28 20:59] luisdemarchi opened #94 "Remove background color?"
Hi,

I left the list without a background color, I left the name of the groups without a background color. However, the group that is fixed at the top is always gray. How to remove?

<img width="652" alt="Screen Shot 2021-03-28 at 17 56 20" src="https://user-images.githubusercontent.com/461642/112767848-57ec6d00-8fef-11eb-969c-2bc2d4e8bad5.png">

[2021-03-28 21:15] luisdemarchi commented on #94
I hid the background color by placing a white colored container. But what would be the ideal way?

[code]

[2021-03-29 06:59] Dimibe commented on #94
Hi @luisdemarchi, there a two options:
Either you can set the property `stickyHeaderBackgroundColor` to the color you like or you can use the `floatingHeader` option to make the sticky header transparent.

[2021-03-30 21:03] #94 closed

[2021-04-01 04:54] gauravmehta13 opened #95 "Any way to make keep the group titles and keep the rest of list in expansion tiles"

[2021-04-08 12:09] tonmooy opened #96 "How to Get original list id ?"
I want to delete data from list , so i need list original id inside itemBuilder or indexBuilder

[2021-04-10 12:37] luisdemarchi commented on #77
@Dimibe I know you’re out of time to fix it. But I just want to record that it also falls on the same bug :(

[2021-04-13 11:49] CripyIce commented on #77
Also having this issue!
If anyone has any other solution except from `useStickyGroupSeparators: false` it will be great :)

[2021-04-21 05:51] hejunbinlan opened #97 "initialScrollIndex is wrong position"
initialScrollIndex is wrong position

[2021-04-28 06:33] cstsortan commented on #71
https://github.com/Dimibe/grouped_list/pull/98 is a fix, but removes support for sticky header and reversed list

[2021-05-01 13:27] deep1931 opened #99 "On month change it create trouble"
Hello
Everything is working fine, as expected, but when months changed, it shows the elements on top which belong to date 1.

For example
we have chat items, and the last item is for 30 April 2021 but the message received on 1 May 2021 are listed on top it should be below 30 April not on top of the list. Tried to solve it but unable to fix it.

Screenshot attached
![screen-group](https://user-imag

[2021-05-07 01:30] octec-info commented on #96
I used : (    key: ValueKey<String>(element['name']),  )
But when a delete one item from de list ( and it was the last item from the group ), the groupSeparator
does not delete.   :-(

[2021-05-09 14:14] ArnaudAngelo opened #100 "TabBar"
Hi, thanks for your package it helps a lot !

I try to use it with a Nested TabBar to hide the AppBar, however, the view seems to be wrong and the headers stick under the TabBar :

**Comportement that I want**
![pinned](https://user-images.githubusercontent.com/62240055/117574616-50d07880-b0de-11eb-8685-65c027b9c5c8.mov)

**What is under the TabBar**
![unpinned](https://user-images.githubuserconte

[2021-05-19 22:12] magneto1981 opened #102 "Header pushes one onother"
Please add the ability to push the sticky header when scrolling to another sticky header

[2021-05-22 03:42] matthewkooshad opened #103 "feature q: can ReorderableListView be used with each group list?"
will you share about how I could use ReorderableListView with this? the group 1, 2, 3 example is what I'm wanting to have reorderable within each.

[2021-05-24 14:30] cata1992 commented on #77
Just give  a new Key to your GroupedListView.

[2021-05-27 19:16] RamithRD opened #104 "Possible enhancement to indexedItemBuilder ?"
I have a requirement to show numbering for items in each group, I'd like to know what's the best way to achieve this.

Ex :

[code]
The numbering should reset for each group, therefore the index from `indexedItemBuilder` cannot be used.

Appreciate your input.

[2021-05-28 01:57] bobykurniawan11 commented on #91
have you solve this ?

[2021-05-31 09:58] Abhishek01039 opened #105 "show Sticky for friction of seconds like whatsApp"
Is there any way to achieve this?

[2021-06-06 08:28] saguado69 opened #106 "Order Descending Grouped Dates"
Hi,

My code was runnning ok with previous versión of 4.0.0. After upgrading I lost scending ordenring of the groups. Items still ordenring descending but not the groups. If I only order by MMM yyyy is ok but if I order by dd MMMM yyyy then the groups order does not work. I have tryied differents combination with comparator but not succeed.

[code]

[2021-06-18 14:52] tonyhart7 opened #107 "How to show only 5 last item of list ??"
Hello,

I know this is not really package issue but I want to ask for displaying 5 last item of list or only show 7 days old item in list

Thanks before

[2021-06-21 00:40] #107 closed

[2021-06-22 16:46] KlubAndroid commented on #80
I have same issue I dont know ow to turn my db result to "elements: _elements," type of list...

[2021-06-22 17:02] KlubAndroid commented on #88
I have same problem with my db result, dont know how to convert to _element List type...

[2021-06-28 15:08] Fintasys commented on #104
@RamithRD Not sure if it works - I just tested it shortly, but couldn't you have a separate index variable and reset it inside `groupSeparatorBuilder`-method?

[2021-06-28 15:12] Fintasys commented on #99
I had a similar issue due to wrong result-value inside `groupComparator`. I was missing the equal case and the effect was that my group item weren't sorted.
[code]
If that's not the reason, it's better to post your code to see if something is wrong.

[2021-06-28 15:18] Fintasys commented on #91
I've solved similar problem by using MapEntries for GroupBy
[code]

[2021-06-28 15:25] Fintasys commented on #93
You can create a counter variable in your state and and increase it every time `groupBy` method is called:
[code]

[2021-07-14 14:59] BigJenson commented on #77
That actually works because it forces flutter to dump the old Widget and rebuild it. (set key: UniqueKey() in the Widget Contructor).

Can someone with flutter knowledge (just started with it) elaborate if that is a good idea or not?

[2021-07-15 15:08] Hey767 opened #108 "Need to make drop-down button for child widget"
As this is best functionality for grouping the items but need to implement dropdown like structure so it can be compressed . How it can possible??
![Screenshot_2021-07-15-20-37-26-779_org telegram plus](https://user-images.githubusercontent.com/68692919/125811412-e49b7eb5-7356-4ba8-871c-174935e2c953.jpg)

Like in here dropdown menu will be on android so that > lifecycle will be hidden

[2021-07-18 16:43] kwak-chickenchaser opened #109 "add items"
Adding item makes this listview to scroll to start. Is this expected behaviour?

[2021-07-22 16:31] Dimibe commented on #77
Fixed with #110. Will be available in the next release.

[2021-07-22 16:31] #77 closed

[2021-07-22 17:41] Dimibe commented on #71
SilverGroupList was added in #112. For an example see `example/lib/example_silver.dart`

[2021-07-22 17:41] #71 closed

[2021-07-22 20:06] Dimibe commented on #99
@deep1931 Is your problem solved? Could the answer from @Fintasys help you?

[2021-07-22 20:07] Dimibe commented on #97
@hejunbinlan What do you mean. Can you please elaborate further and give an actual and expected behavior?

[2021-07-26 10:42] deep1931 commented on #99
@Fintasys Thanks I will try it.

@Dimibe I was busy with another project and could not test it, today i will test and revert you back...

[2021-08-08 11:29] pratamatama opened #113 "I got unexpected behavior when boolean is used as groupBy value"
As the title said, I was expecting that the result should group the entity by the `expired` value which is a getter that returns a `boolean` based on the calculation of `DateTime` of the given model. To be clear and simple, I want something like this:

- Valid
  - Promo 1
  - Promo 2
  - Promo 3
- Expired
  - Promo 4
  - Promo 5
  - Promo 6

But I got this instead:

![Screenshot_20210808-181859_cu

[2021-08-08 11:40] pratamatama commented on #113
Fixed by converting the `boolean` as `int` instead. My fault.

[code]

[2021-08-08 11:40] #113 closed

[2021-08-20 10:43] BFamzz opened #114 "List not scrolling to the end"
I am using the following code snippet to auto scroll to the end of a list:

[code]

However, one or two items are not showing until a manual scroll is initiated.

How can I implement auto scrolling to the end of the list?

P.S. the scrolling implementation above works for ListView

Thanks.

[2021-08-21 17:36] jabirmayar opened #115 "Hide useStickyGroupSeparators when not scrolling."
Hello, is there a way to hide useStickyGroupSeparators when the list is not scrolling? I tried with _scrollController , but the app gets laggy and the value won't update. Like from today it won't update to yesterday and so on.

`WidgetsBinding.instance!.addPostFrameCallback((timeStamp) {
      _scrollController.addListener(() {
        print('scrolling');
        setState(() {
          showSticky

[2021-08-24 07:30] MohammedElotol opened #116 "Jump to a specific Group Header"
Can I programmatically Scroll to a specific header or to an item?
I need to know the index of the header in the list

[2021-08-27 01:28] develogo opened #117 "How can I group by Today, Yesterday and This Month?"
Look, how can I create 3 groups today, yesterday and the rest of the month?

Im using:
groupBy: (ProcedureEntity element) => DateFormat('d')
                            .format(DateTime.parse(element.createdAt)),

[2021-08-27 14:15] KlubAndroid opened #118 "grouped_list gr"
Hi IM working in Flutter project, basically I query db, convert result in map, fill list with result and pass to groupView.. Everything working but, in every other group first item switch place with some other item from same group at hotrestart app or when setstate is called. If I use dummy data from example here no switching occur? Dose anyone now what cud be wrong?

[code]

[code]

GetData is ca

[2021-09-06 17:11] jabirmayar commented on #117
This is how I have done it. You can get an idea from this...
`  groupBy: (e) =>DateFormat('yyyy-MM-dd').format(
                            tz.TZDateTime.from(e.reminderDate, tz.local),
                          )`
` groupHeaderBuilder: (e) =>Text(
                       checkDate(
                                e.reminderDate.toString(),
                      ),
                        textAlign

[2021-09-07 20:52] yogaxv opened #119 "create infinite scroll"
Is there any example i can apply to create infinite scroll?

Usually I make condition if there still have data left, I added +1 to the listview length also create loading at the end of listview. Then I call fetch function using scroll controller.

How can I applied that method in grouped list?

[2021-09-12 22:32] tomasweigenast opened #120 "add support for nested grouping"
Add support for nested grouping. For example, If a product is added to a category, which is parent of another category, for example:

Category: `Soda` is inside category `Drinks`

It would be very useful to add the ability to group by `Drinks`, and then by `Soda`

[2021-09-15 16:11] mellowcello77 commented on #82
Thumbs up for the same request here.

[2021-09-16 09:50] X-SLAYER opened #121 "Drag & drop based change group order change"
Hello is there any trick to re-order the list items in different groups like moving an item from group A to group B

[2021-09-17 15:20] AbhiShah70200 commented on #82
Hi is there any update regarding grid view instead listview

[2021-09-22 10:21] TJMusiitwa commented on #58
@xJon and @Dimibe Sorry to bring you back to this issue but I am in a very similar pickle to this. I have the items grouped and all that I am fetching from firestore.
The issue is that when the grouping occurs, it creates very different groups yet I would like something similar to what is in #117.
I guess I am seeking help in the best course of action to do a group comparator.

The image below can

[2021-09-27 10:07] #105 closed

[2021-10-01 10:20] saurabhunify opened #122 "I have created an infinite Scroll, but when I add new list items to the elements array, list always scrolls to end rather than staying at the current scroll position"

[2021-10-12 10:17] KlubAndroid opened #123 "Order By issue with 10th,1st..."
Hello, I have list of Strings from db like this ( 1st... ,2th,3th,4th..10th... )  group by give me result (10th,1st,2th...)  way to correct this in sql db is "columName*1" then will return correct order , How to do that in Group_by?
example list:
List _elements = [
  {'name': 'Miranda', 'group': 'Team B'},
  {'name': 'Mike', 'group': 'Team C'},
  {'name': 'Danny', 'group': 'Team C'},
  {'name': 'D

[2021-11-15 14:40] mohammedebrahim1 commented on #116
got a solution ?

[2021-11-16 09:56] GinoChasles opened #124 "Variable to change order"
Hello,

I'm using SliverGroupedListView and i had a variable for the order. I use radio button to SetState the var to DESC/ASC.
If I use `groupComparator: (value1, value2) => value2.compareTo(value1)` when I change ASC to DESC order the name of groups change but the list of items doesn't reverse.
If I use `groupComparator: (value1, value2) => _groupComparator(value2, value1)` where  the function i

[2021-11-16 12:08] GinoChasles commented on #124
So I allow myself to copy the sliver_grouped_list.dart and I modify the _sortElements() to solve my problem.
[code]
and it work like as want :)

[2021-11-20 10:04] minhdanh opened #125 "When pulling screen with RefreshIndicator, the top stickerGroupSeparator should be pulled also"
Hi, first thank you for your great package.
I'm using it with the following settings:
[code]

When I don't set `useStickyGroupSeparators` (meaning its value is false), I can pull the whole screen. But when that field is true, the top group separator won't be pulled, which makes it look odd to me.
Here's how it looks:

![Screenshot from 2021-11-20 17-00-10@2x](https://user-images.githubusercontent.

[2021-11-30 05:31] pradeep14598 commented on #116
did you guys got any Solution?

[2021-11-30 20:34] mohammedebrahim1 commented on #116
@pradeep14598  my solution was make a method that's grouped items separately and use list view to scroll to header with it's index

[2021-12-01 11:44] pradeep14598 commented on #116
@MohammedElotol i have done by sorting a whole list with group header name  and  find a first index of each group header and then passed that index to scroll to that group header

[2021-12-07 11:39] jdaibello commented on #122
I have the same problem here.

Does anyone know if there is already a way to fix this?

[2021-12-14 23:06] insinfo opened #129 "How to disable floating Header"
I put floatingHeader: false but it still keeps displaying floating header

[code]

![image](https://user-images.githubusercontent.com/12227024/146092228-da6afcbc-51fc-4901-af34-3c1d768a64ad.png)

[2021-12-21 04:47] jarjut opened #130 "Group Position when use SliverGroupedListView with customscrollview reversed:true"
When use SliverGroupedListView with customscrollview reversed true, group position is at the bottom of the groupedlist, is there any solustion to this problem?
![image](https://user-images.githubusercontent.com/24451652/146872623-8559cc90-4e69-4f44-8744-9de71141e61b.png)

[2021-12-27 02:58] mateusconrad opened #131 "Get Number of elements in groups"
Hi, is it possible to get the number of elements in a group that  GroupedListView() generates after the group by?
I have an implementation where i need to list multiple categories in a listviewbuilder inside the GroupedListView. Just like this:
![image](https://user-images.githubusercontent.com/34871931/147429728-3862e08f-b244-4d09-910c-79bc98449345.png)

If is it possible to get the number, or if

[2022-01-05 07:15] DineshKachhot commented on #106
I have the same kind of issue using grouped_list, I am not able to order groups by date.

[2022-01-05 13:38] DineshKachhot commented on #106
**My issue is fixed:** if you are displaying an ordered list, you can disable sorting of `GroupedListView` like `sort: false`.
I am not sure it will help any one, but sharing here as it worked for me.

[2022-01-18 14:52] utsavDave97 opened #133 "Not able to tap on Card"
I have the following code to group items based on whether they have been routed or not

[code]
It does display items into groups but not able to tap on them.

[code]

Any reason why?

Appreciate your library.

[2022-01-31 17:39] bw7432 opened #136 "Order by Group Name"
Is there any way to order the displayed groups by the name rather than by an int?

[2022-01-31 19:46] #136 closed

[2022-01-31 19:46] bw7432 commented on #136
figured it out

[2022-02-04 15:21] Dimibe commented on #116
Hello,
maybe the [sticky_grouped_list package](https://github.com/Dimibe/sticky_grouped_list) which I also published helps you for that problem. It is based on the scrollable_positioned_list which can be programmatically scrolled. My package adds the group functionality to it.

I won't add any solution to this package here.

[2022-02-04 15:21] #116 closed

[2022-02-04 15:24] Dimibe commented on #120
Hey @tomasweigenast, in my opinion this feature brings to much complexity to the package, so I won't add it. If you have a good and easy to use solution to this problem, I would appreciate a PR from you.

[2022-02-04 15:24] #120 closed

[2022-02-04 15:29] Dimibe commented on #123
Hello @KlubAndroid,
this package gives you the ability to order and group your list in any way you like. You can implement your own function for grouping and ordering. So you don't have to rely on the default alphabetical ordering. For your specific usecase it seems so that you need change the alpha-numerical ordering such that numbers are behind letters.

[2022-02-04 15:29] #123 closed

[2022-02-04 15:31] Dimibe commented on #129
Hey @insinfo,
you need to change the option `useStickyGroupSeparators: true` to `false`.

[2022-02-04 15:31] #129 closed

[2022-02-06 14:08] reihnagm commented on #119
I have an idea, if you are using a provider.
1. Wrap use NotificationListeners
[https://ibb.co/zSyMywq](url)
2. Fetch data
[https://ibb.co/ZMqykkS](url)
3. Make a loading when scroll reach bottom
[https://ibb.co/Ldz2PQQ](url)

[2022-02-14 14:32] marcodecarolisidt opened #139 "Feature Request: List Header"
Will it be possible to insert a widget at the top of the list, not in the groups, that scrolls when the list scrolls?

[2022-03-08 11:12] kizombaciao opened #140 "Can dates be sorted also?"
I tried that but it seems the value has to be a String and not DateTime.

[2022-03-10 05:51] expertdev-designer opened #141 "Please add reverse support for SliverGroupedListView"

[2022-03-10 06:16] expertdev-designer commented on #130
I also have the same problem @jarjut @Dimibe @d6p2b @Daniel-Ioannou @jamesblasco Please help

[2022-03-20 07:36] rivella50 opened #142 "Define a specific order list for the groups"
Hi there,
let's say i have list items and know that they can only have a discrete number of possible state values (e.g. 'new', 'inbox', 'planned') which should serve as our groups.
Now i have to render groups in a specific order which cannot be established by comparing the group names, i.e. the option using groupComparator falls away.
Is there a way that this can be achieved currently with grouped

[2022-03-20 07:50] Dimibe commented on #142
You can actually use use the groupComperator for this. Inside you can compare the static state values and hard code the order of the states. I think this is the solution you are thinking of.

A more flexible solution would be to have a order mapped to each state so that the ordering itself does not have to be hard coded in the groupComparator.

[2022-03-20 08:27] rivella50 commented on #142
Thank you very much for your answer.
One other question: Does your plugin support lazy loading like e.g. ListView.builder does? Or is the whole content rendered at once and can lead to possible memory issues?

[2022-03-23 00:03] triple-j-95 commented on #2
Hi @Dimibe
Are you planning to add useStickyGroupSeparators to SliverGroupedListView?
(Or is there another way to stick the grouping header with SliverGroupedListView?)
Thanks!

[2022-03-23 16:21] mrishabh72 commented on #82
Thumbs up for the same request here.

[2022-04-10 16:35] Fogan1703 opened #143 "Fade out for sticky group separators"

[2022-04-14 09:24] Devlonoah opened #144 "Suggestion: ItemCount for adding extra widget"
Hi,
I'm suggesting that itemCount be added to the parameters available.

As this will allow adding an extra widget :
In a scenario where i plan to add a  Text or a button [View All] to te end of the item list,
Of course the only way to achieve this will be to add 1 to the length of the data being use.
a pseudocode to explain what i meant:
`var listOfFruit = ["Orange","Apple","Pawpaw"];

ListView.b

[2022-04-20 07:53] globalwebforce commented on #82
Any Update?!?!

[2022-04-22 05:45] fkpage opened #145 "Implementing with pull to refresh"
Has anyone implemented this library with pull to refresh option successfully? Like pull_to_refresh package. Thanks.

[2022-04-30 10:50] sqzxcv commented on #145
https://github.com/sqzxcv/grouped_list

[2022-05-07 17:49] #133 closed

[2022-05-13 07:58] rivella50 opened #146 "Warning after update to Flutter version 3.0.0"
This is the shown warning when building:
[code]

[2022-05-13 08:01] rivella50 commented on #142
Works fine, thanks a lot.

[2022-05-13 08:01] #142 closed

[2022-05-14 13:58] Dimibe commented on #140
Yes they can. Have a look at the Chat example.

[2022-05-14 13:58] #140 closed

[2022-05-18 20:42] Dimibe commented on #146
Fixed with release 5.0.0

[2022-05-18 20:42] #146 closed

[2022-05-25 12:35] aju-annaseem opened #149 "order getting wrong after 33th index"
if element more than 33 list element getting wrong.

[2022-05-26 12:11] tremp-m opened #150 "Side effect of GroupedListView"
Hi
Elements in GroupedListView are sorted by default in the same list. And the list changes outside of GroupedListView. I think it's not clean.

[2022-05-26 12:38] Dimibe commented on #150
Hi @tremp-m,
I just looked it up and you are right. I will fix that asap.

[2022-05-27 11:40] #150 closed

[2022-05-28 12:06] Dimibe commented on #150
Fix in version 5.1.0

[2022-06-09 03:00] nifhanif commented on #106
Thank you... it work

[2022-06-14 06:12] AbhiShah70200 commented on #82
import 'package:flutter/material.dart';
import 'package:flutter/src/foundation/key.dart';
import 'package:flutter/src/widgets/framework.dart';

class gridviewList extends StatefulWidget {
  const gridviewList({Key? key}) : super(key: key);

  @override
  State<gridviewList> createState() => _gridviewListState();
}

class _gridviewListState extends State<gridviewList> {
  List myList = [
    [1, 2,

[2022-06-15 22:10] Dimibe commented on #117
Seems to be solved

[2022-06-15 22:10] #117 closed

[2022-06-15 22:11] Dimibe commented on #143
Please provide a proper description of your feature request

[2022-06-15 22:11] #143 closed

[2022-06-15 22:13] Dimibe commented on #97
Closing issue due to inactivity

[2022-06-15 22:13] #97 closed

[2022-06-15 22:13] Dimibe commented on #99
Seems to be solved

[2022-06-15 22:13] #99 closed

[2022-06-15 22:14] Dimibe commented on #92
Should be fixed in the latest version

[2022-06-15 22:14] #92 closed

[2022-06-15 22:16] Dimibe commented on #104
@Fintasys solution should work

[2022-06-15 22:16] #104 closed

[2022-06-15 22:18] Dimibe commented on #93
Currently, the only way to count items inside a group is to manually implement a counter which needs to be reset in the `groupSeparatorBuilder`

[2022-06-15 22:19] #95 closed

[2022-06-15 22:21] Dimibe commented on #91
The option `groupComparator` can be used for this.

[2022-06-15 22:21] #91 closed

[2022-06-15 22:23] Dimibe commented on #87
Closing this due to inactivity, if any question are still open feel free to comment this issue.

[2022-06-15 22:23] #87 closed

[2022-06-15 22:24] #78 closed

[2022-06-15 22:24] Dimibe commented on #78
Closed due to inactivity

[2022-06-15 22:25] Dimibe commented on #106
Seems to be solved

[2022-06-15 22:25] #106 closed

[2022-06-15 22:26] #54 closed

[2022-06-15 22:27] Dimibe commented on #86
Not supported

[2022-06-15 22:27] #86 closed

[2022-06-16 06:30] MeetSolguruz opened #152 "Suggestion: ItemCount for adding extra widget"
Please add item Count so we can add extra widget

[2022-06-16 07:23] Dimibe commented on #152
Hi @MeetSolguruz what is your expected behavior where the extra widget is shown since it would not belong to any group?

[2022-06-21 04:46] Phmichau opened #153 "Is it possible to put a message when no data"
Is it possible to put a message when no data return. Thanks for your great job

[2022-06-24 07:57] anasfarooqi opened #154 "GroupedListView not working with getX"
Hi, i am trying to use GroupedListView inside Obx, but always gives me an error, "improper use of Getx has been detected".

My Code is
   GroupedListView<dynamic, String>(
                  elements: menuOptionsController.menuOptions,
                  groupBy: (element) => element['group'],
                  groupSeparatorBuilder: (String groupByValue) =>
                      Text(groupByValue),

[2022-06-24 13:01] Dimibe commented on #154
Hello @anasfarooqi, can you please provide more information, especially about the `menuOptionsController.menuOptions` and how you use the Widget. With the current information, I cannot really help.

[2022-06-27 04:47] MeetSolguruz commented on #152
As like in listview builder an item count we need this one in

[2022-06-30 11:53] rivella50 opened #155 "Scroll to Element"
Based on incoming FCM messages i need to automatically scroll to a certain list element position based on the element's id (not index) it has in its data model.
How can this be achieved with a GroupedListView?

[2022-06-30 12:14] Dimibe commented on #155
Hi @rivella50,
with the grouped_list package it's not possible to scroll programmatically to a certain position, this is only possible with the [sticky_grouped_list](https://github.com/Dimibe/sticky_grouped_list) package. Currently the package supports only scrolling to an index, but if it's generally possible for you to use the sticky_grouped_list package instead of this package, I will open a fe

[2022-06-30 12:24] Dimibe commented on #155
Yes it does, the one exception is that there is no `SilverGroupedListView`. But from you description it seems so that you are using the default `GroupedListView` so there should be no big problem in my opinion.

[2022-06-30 12:27] rivella50 commented on #155
Exactly, i don't use SilverGroupedListView. This is how i use it currently:
[code]

[2022-06-30 13:54] Dimibe commented on #152
@MeetSolguruz There will no item count be added to package. I am thinking of adding a extra parameter where you can provide a list of Widgets which will be added on top of the list or below the list. That's why I asked where you wanted to place the extra widgets.

[2022-06-30 22:09] Dimibe commented on #149
Hello @aju-annaseem,
I tried to reproduce the issue but could not find any wrong behavior. Therefore I will close this issue for now.
I added the following [example](https://github.com/Dimibe/grouped_list/blob/main/example/lib/stream_example.dart) to the package where  the grouped_list takes 100 items.

If you have still issues while using this package feel free to ask follow up questions or provi

[2022-06-30 22:13] Dimibe commented on #144
Hi @Devlonoah,
There are similar requests to this one but I think adding the itemcount option to the package will make usage too complicate.
Instead I am thinking of an option like `footerWidgets` / `headerWidgets` where you can provide a `List<Widget>` and those items will then be automatically placed on top or below the list. Will this feature meet your needs?

[2022-07-01 05:21] rivella50 commented on #155
May i ask how the new scrolling/jumping feature (besides scrolling to an index) would look like? E.g.
`GroupedItemScrollController.jumpToItem(element.contractId)`

How does the GroupedList then know to which Contract field the given jumpToItem parameter value belongs to?

[2022-07-01 10:03] Dimibe commented on #155
@rivella50 I haven't thought of a final solution yet. Currently the scroll controller can be used like:
[code]
The two options I am thinking of right now without any further investigation on their practicability are either passing the whole element to the scroll controller, like:
[code]
where `myElement` must be one item of the list passed to `elements`.

The second option is to add another parame

[2022-07-01 10:58] rivella50 commented on #155
Definitely the `elementIdentifier` option.
I wouldn't have the full element available if such a notification arrives, but the `elementIdentifier` could be anything and would work for me.

[2022-07-01 22:05] waqadArshad commented on #106
Thanks a lot @DineshKachhot

[2022-07-07 16:16] Dimibe commented on #155
@rivella50 Solved in Version 3.1.0 of [sticky_grouped_list](https://pub.dev/packages/sticky_grouped_list)

[2022-07-07 16:16] #155 closed

[2022-07-07 16:53] rivella50 commented on #155
Thank you very much. Will try it asap.

[2022-07-11 20:21] aytunch opened #158 "[Performance] Too many repaints while scrolling"
When using a normal `ListView.builder` or any kind of scrollable, the whole app does not rebuild.
But when using `GroupedListView` and when we are scrolling the whole page rebuilds causing unnecessary CPU and battery load.

You can see this by enabling;

[code]
When colors change, rebuild happens for those widgets.

https://user-images.githubusercontent.com/6442915/178351106-3573baf6-b57b-4b28-ac1

[2022-07-21 11:15] thirtyninetythree opened #159 "Group header builder should get the group no just the first element"
I would like to calculate the total based on a date.

It would be great if I could get the group in the group header builder or some way to indicate that an element is part of a particular group

[2022-07-22 20:46] SteveOye commented on #154
@anasfarooqi When listening to an observable list from your controller. You don't have to wrap the widget with Obx. Getx automatically listens to changes for list.

[2022-07-26 05:21] glintpursuit commented on #114
@BFamzz did found the solution ?

[2022-07-26 06:21] BFamzz commented on #114
@glintpursuit I found the answer at the end of the documentation on the ReadME. See the screenshot.

<img width="600" alt="image" src="https://user-images.githubusercontent.com/38426051/180937292-feb6423c-0b4c-439b-bfed-70d8bcfe4284.png">

[2022-07-26 06:21] #114 closed

[2022-07-31 16:06] erSitzt commented on #145
Could you do a PR ? @sqzxcv

[2022-08-03 04:52] vohoangtuit opened #160 "count total item"
how to count total items in group?

[2022-08-05 13:15] Handelika opened #161 "first item visibility change also changes the first group item to second one"
I have two lists using StickyGroupedListView. when i click the the group item to change the children of group's visibility, group item name turned to the second one's name.

`StickyGroupedListView<StateModel, int>(
          shrinkWrap: true,
          elements: list,
          physics: NeverScrollableScrollPhysics(),
          groupBy: (Model element) => element.headerId!,
          groupSeparato

[2022-08-09 13:07] RaminBgrn opened #162 "sticky group separator not working properly"
i have list of model object which has inner list of other models
every thing is well but when i scroll down sticky group separator text have changed to new group title before arrived to group
by the way i use indexed item builder

[2022-09-02 08:53] norman93sun commented on #145
same issue

[2022-09-19 09:55] bsolca commented on #160
Hello @vohoangtuit,

Here is my solution to add the number of items in each group.

`
final List<MapEntry<String, int>> _textList = [
  const MapEntry('Lorem', 0),
  const MapEntry('ipsum', 1),
  const MapEntry('dolor', 2),
  const MapEntry('sit', 3),
  const MapEntry('amet', 4),
  const MapEntry('consectetur', 5),
  const MapEntry('adipiscing', 6),
  const MapEntry('elit', 7),
  const MapEntry('s

[2022-10-18 08:09] LiuJQ commented on #87
@Mun0nKado @Dimibe
hi, I make a little change to support group section style, please review the code
[pull request](https://github.com/Dimibe/grouped_list/pull/165)
## Preview
![preview](https://user-images.githubusercontent.com/3191942/196372638-b3f18434-9f2c-4018-a6ed-f50d43b46d02.png)

[2022-11-02 10:14] clearflame236 opened #166 "How to add rounded corners at the bottom？"
![image](https://user-images.githubusercontent.com/59463915/199463659-eea02564-ad08-4b37-92dd-a5dfc6c7a35a.png)
like this?

[2022-11-19 09:18] lakoliu commented on #106
Thank you, @DineshKachhot, that was just what I needed!

[2022-11-21 05:08] aju-annaseem opened #167 "if there are more than 33 elements list order messed up"
i have already reported this issue before, but not resolved yet. and not showing that issue in issues list.

![WhatsApp Image 2022-11-21 at 10 36 25 AM](https://user-images.githubusercontent.com/98454712/202969917-a3af3122-a387-4e1a-b803-14ffba756bc5.jpeg)

33 elements in list working fine

![WhatsApp Image 2022-11-21 at 10 36 26 AM](https://user-images.githubusercontent.com/98454712/202969982-4dd

[2022-11-21 05:43] aju-annaseem commented on #167
my code as below:
i want to show 1 to 34 numbers orderly..  pls help

import 'package:flutter/material.dart';
import 'package:grouped_list/grouped_list.dart';
import 'package:intl/intl.dart';

void main() => runApp(const MyApp());

class MyApp extends StatelessWidget {
  const MyApp({Key? key}) : super(key: key);

  @override
  Widget build(BuildContext context) {
    return MaterialApp(
        d

[2022-11-23 10:00] bsolca commented on #167
Hello @aju-annaseem, can you edit your message to have a better version to reproduce your code, so we can support your issue easier? (e.g.: dartpad.dev)

[2022-11-23 21:30] ken-salterdiazsolutions opened #168 "Group separator does not change background on dark mode"
**Describe the bug**
When setting theme to dark mode, the group separator background color remains at white, and this makes the text almost impossible to read

**Expected behavior**
When setting theme to dark mode, the group separator background color should be the same as the dark mode theme background color (or transparent)

**Information:**
 - Dart version: 2.18.4
 - Flutter version: 3.3.8
 - P

[2022-11-25 03:27] nguyennhattan24 opened #169 "how i can get index of separator"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

[2022-11-25 10:39] sinnoorc commented on #122
Am also face same problem

[2022-11-25 14:27] qq741957916 opened #170 "Can this implement a chat like list ?"
[https://vkceyugu.cdn.bspapp.com/VKCEYUGU-f3e7ce10-3009-45cf-ba27-8cc425cf32cc/676ee65a-8f99-4c37-918e-803fdfc39c43.MP4](url)
thank you

[2022-11-28 03:52] xxJeevesxx commented on #152
@Dimibe Thanks for this. I think it would be great to have a parameter for the placement as well, just for those that want the option. Is this currently in the works? Do you have an ETA? Alternatively, do you have any possible suggestions for a temporarily solution until this is implemented, I can't think of anything.

[2022-11-28 07:27] adamcastleman commented on #82
PLEASE DIMIBE WE BEG